@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar.css */

/* Default size for icons */
.navbar-icon {
    width: 32px;
    height: 32px;
  }
  
  /* Adjust size for small devices */
  @media screen and (max-width: 767px) {
    .navbar-icon {
      width: 12px;
      height: 18px;
    }
  }
  